<template>
  <header>
    <div class="container">
      <button v-if="!authenticated" @click="openPopup('login')">Login</button>
      <button v-if="!authenticated" @click="openPopup('register')">Register</button>
      <button v-if="authenticated" @click="logout()">Logout</button>
    </div>
  </header>
</template>

<script>
import {mapGetters, mapMutations, mapActions} from 'vuex'

export default {
  computed: {
    ...mapGetters({
      authenticated: 'auth/authenticated'
    })
  },

  methods: {
    ...mapMutations({
      openPopup: 'popups/openPopup'
    }),
    ...mapActions({
      logout: 'auth/logout'
    }),
  }
}
</script>

<style lang="scss">
  header {
    padding: 30px 0;
    .container {
      text-align: center;
    }
  }
</style>
