<template>
  <div class="loader">
    <div class="loader-icon"></div>
  </div>
</template>

<style lang="scss">
  @keyframes loader {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
  }

  .loader {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.95);
    &-icon {
      position: relative;
      width: 38px;
      height: 38px;
      &:before,
      &:after {
        position: absolute;
        content: '';
        top: -.21em;
        left: -.21em;
        width: 100%;
        height: 100%;
        border-radius: 500rem;
        border-style: solid;
        border-width: .21em;
      }
      &:before {
        border-color: rgba(0,0,0,.1);
      }
      &:after {
        animation: loader .6s linear;
        animation-iteration-count: infinite;
        border-color: var(--blue) transparent transparent;
        box-shadow: 0 0 0 1px transparent;
      }
    }
  }
</style>
