<template>
  <div class="input input-date" :class="{
    active: isActive,
    error: isError
  }">
    <label class="input-placeholder" :for="id" v-if="placeholder" @click="$refs.input.focus()">{{placeholder}}</label>
    <DatePicker
      v-model="value"
      :type="datepickerType"
      :valueType="datepickerValueType"
      @open="isFocus = true"
      @close="isFocus = value ? true : false"
      @clear="isFocus = false"
    />
    <label class="input-error" :for="id" v-if="error">{{error}}</label>
  </div>
</template>

<script>
import inputMixin from '~/mixins/input.js'

import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

export default {
  mixins: [
    inputMixin
  ],

  components: {
    DatePicker
  },

  props: {
    datepickerType: {
      type: String,
      default: 'date'
    },
    datepickerValueType: {
      type: String,
      default: 'YYYY-MM-DD'
    }
  }
}
</script>

<style lang="scss">
  .input.input-date {
    position: relative;
    & > input {
      opacity: 0;
    }
    .mx-datepicker {
      width: 100%;
      .mx-input {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        border-color: var(--grey);
        height: 37px;
        &:hover {
          border-color: var(--grey);
        }
      }
    }
    &.error {
      .mx-datepicker {
        .mx-input {
          border-color: var(--red);
          &:hover {
            border-color: var(--red);
          }
        }
      }
    }
  }
</style>
