<template>
  <div class="input" :class="{
    active: isActive,
    error: isError
  }">
    <label class="input-placeholder" :for="id" v-if="placeholder" @click="$refs.input.focus()">{{placeholder}}</label>
    <input ref="input" type="text"
      :name="name"
      :id="id"
      @focus="isFocus = true"
      @blur="isFocus = false"
      v-model="value"
    >
    <label class="input-error" :for="id" v-if="error">{{error}}</label>
  </div>
</template>

<script>
import inputMixin from '~/mixins/input.js'

export default {
  mixins: [
    inputMixin
  ]
}
</script>
