<template>
  <div class="input input-checkbox" :class="{
    active: isActive,
    error: isError
  }">
    <div class="input-checkbox-wrap">
      <input ref="input" type="checkbox"
        :name="name"
        :id="id"
        v-model="value"
      >
      <label class="input-label" :for="id" v-html="label"></label>
    </div>

    <label class="input-error" :for="id" v-if="error">{{error}}</label>
  </div>
</template>

<script>
import inputMixin from '~/mixins/input.js'

export default {
  mixins: [
    inputMixin
  ],

  props: {
    label: String
  }
}
</script>

<style lang="scss">
  .input.input-checkbox {
    input {
      width: 15px;
      height: 15px;
    }
    .input-checkbox-wrap {
      display: flex;
      align-items: center;
    }
    .input-label {
      position: relative;
      font-size: 13px;
      padding-left: 10px;
    }
    .input-error {
      top: 38px;
    }
  }
</style>
