<template>
  <popup-wrap name="register" class="popup-register">
    <h2>Register</h2>
    <p class="popup-server-error" v-if="serverError">{{serverError}}</p>
    <form action="/register" @submit.prevent="submit()">
      <Input
        name="name"
        placeholder="Name"
        :error="error.name"
        @changeValue="val => setValue('name', val)"
      />
      <Input
        name="email"
        placeholder="Email"
        :error="error.email"
        @changeValue="val => setValue('email', val)"
      />
      <InputDate
        name="education_start_date"
        placeholder="Education Start Date"
        :error="error.education_start_date"
        @changeValue="val => setValue('education_start_date', val)"
      />
      <InputDate
        name="education_end_date"
        placeholder="Education End Date"
        :error="error.education_end_date"
        @changeValue="val => setValue('education_end_date', val)"
      />
      <InputPassword
        name="password"
        placeholder="Password"
        :error="error.password"
        @changeValue="val => setValue('password', val)"
      />
      <InputPassword
        name="password_confirmation"
        placeholder="Confirm Password"
        :error="error.password_confirmation"
        @changeValue="val => setValue('password_confirmation', val)"
      />
      <InputCheckbox
        name="agree"
        :label="agreeLabel"
        :error="error.agree"
        @changeValue="val => setValue('agree', val)"
      />
      <button type="submit">Get started</button>
    </form>
    <transition name="fade">
      <Loader v-if="isLoading" />
    </transition>
  </popup-wrap>
</template>

<script>
import {mapMutations, mapActions} from 'vuex'

import validators from '~/plugins/validators.js'

import PopupWrap from '~/components/popup/PopupWrap.vue'

import Loader from '~/components/loader/Loader.vue'

import Input from '~/components/input/Input.vue'
import InputDate from '~/components/input/InputDate.vue'
import InputPassword from '~/components/input/InputPassword.vue'
import InputCheckbox from '~/components/input/InputCheckbox.vue'

export default {
  components: {
    PopupWrap,
    Loader,
    Input,
    InputDate,
    InputPassword,
    InputCheckbox
  },

  data: () => {
    return {
      error: {
        name: '',
        email: '',
        education_start_date: '',
        education_end_date: '',
        password: '',
        password_confirmation: '',
        agree: ''
      },
      value: {
        name: '',
        email: '',
        education_start_date: '',
        education_end_date: '',
        password: '',
        password_confirmation: '',
        agree: ''
      },
      serverError: '',
      isLoading: false,
      agreeLabel: 'I agree to the <a href="/terms" target="_blank">terms and conditions</a>'
    }
  },

  methods: {
    ...mapMutations({
      closePopup: 'popups/closePopup'
    }),
    ...mapActions({
      register: 'auth/register'
    }),

    setValue(name, val) {
      this.error[name] = ''
      this.value[name] = val
    },
    submit() {
      this.error.name =
        validators.required(this.value.name) ||
        validators.minLen(this.value.name, 2)

      this.error.email =
        validators.required(this.value.email) ||
        validators.email(this.value.email)

      this.error.education_start_date =
        validators.required(this.value.education_start_date)

      this.error.education_end_date =
        validators.required(this.value.education_end_date) ||
        validators.dateComparison(this.value.education_start_date, this.value.education_end_date)

      this.error.password =
        validators.required(this.value.password) ||
        validators.minLen(this.value.password, 6) ||
        validators.pass(this.value.password)

      this.error.password_confirmation =
        validators.required(this.value.password_confirmation) ||
        validators.samePass(this.value.password, this.value.password_confirmation)

      this.error.agree =
        validators.agree(this.value.agree)

      if(
        !this.error.name &&
        !this.error.email &&
        !this.error.education_start_date &&
        !this.error.education_end_date &&
        !this.error.password &&
        !this.error.password_confirmation &&
        this.value.agree
      ) {
        this.isLoading = true

        this.register({
          name: this.value.name,
          email: this.value.email,
          education_start_date: this.value.education_start_date,
          education_end_date: this.value.education_end_date,
          password: this.value.password,
          password_confirmation: this.value.password_confirmation,
          terms: 'required'
        }).then(res => {
          this.isLoading = false
          if(res.success) {
            this.closePopup('register')
          } else {
            this.serverError = res.message

            const errors = res.errors
            const errorsKeys = Object.keys(res.errors)
            errorsKeys.forEach(key => {
              this.error[key] = errors[key][0]
            })
          }
        })
      }
    }
  }
}
</script>

<style lang="scss">
  .popup-register {
    .popup-body {
      width: auto;
    }
  }
</style>
