<template>
  <popup-wrap name="login" class="popup-login">
    <h2>Login</h2>
    <p class="popup-server-error" v-if="serverError">{{serverError}}</p>
    <form action="/login" @submit.prevent="submit()">
      <Input
        name="email"
        placeholder="Email"
        :error="error.email"
        @changeValue="val => setValue('email', val)"
      />
      <InputPassword
        name="password"
        placeholder="Password"
        :error="error.password"
        @changeValue="val => setValue('password', val)"
      />
      <button type="submit">Lets go</button>
    </form>
    <transition name="fade">
      <Loader v-if="isLoading" />
    </transition>
  </popup-wrap>
</template>

<script>
import {mapMutations, mapActions} from 'vuex'

import validators from '~/plugins/validators.js'

import PopupWrap from '~/components/popup/PopupWrap.vue'

import Loader from '~/components/loader/Loader.vue'

import Input from '~/components/input/Input.vue'
import InputPassword from '~/components/input/InputPassword.vue'

export default {
  components: {
    PopupWrap,
    Loader,
    Input,
    InputPassword
  },

  data: () => {
    return {
      error: {
        email: '',
        password: ''
      },
      value: {
        email: '',
        password: ''
      },
      serverError: '',
      isLoading: false
    }
  },

  methods: {
    ...mapMutations({
      closePopup: 'popups/closePopup'
    }),
    ...mapActions({
      login: 'auth/login'
    }),

    setValue(name, val) {
      this.error[name] = ''
      this.value[name] = val
    },
    submit() {
      this.error.email =
        validators.required(this.value.email) ||
        validators.email(this.value.email)

      this.error.password =
        validators.required(this.value.password) ||
        validators.minLen(this.value.password, 6) ||
        validators.pass(this.value.password)

      if(
        !this.error.email &&
        !this.error.password
      ) {
        this.isLoading = true

        this.login({
          email: this.value.email,
          password: this.value.password
        }).then(res => {
          this.isLoading = false
          if(res.success) {
            this.closePopup('login')
          } else {
            this.serverError = res.message

            const errors = res.errors
            const errorsKeys = Object.keys(res.errors)
            errorsKeys.forEach(key => {
              this.error[key] = errors[key][0]
            })
          }
        })
      }
    }
  }
}
</script>

<style lang="scss">
  .popup-login {
    .popup-body {
      width: auto;
    }
  }
</style>
