<template>
  <transition name="popup">
    <aside :id="`popup-${name}`" class="popup" v-if="isActive">
      <div class="popup-body">
        <div class="popup-content">
          <slot></slot>
        </div>
        <button class="popup-close icon-x" @click="close"></button>
      </div>
    </aside>
  </transition>
</template>

<script>
import {mapGetters, mapMutations, mapActions} from 'vuex'

export default {
  props: {
    name: String
  },

  computed: {
    ...mapGetters({
      isPopup: 'popups/isPopup'
    }),
    isActive() { return this.isPopup(this.name) }
  },

  methods: {
    ...mapMutations({
      openPopup: 'popups/openPopup',
      closePopup: 'popups/closePopup',
      setPageHidden: 'dom/setPageHidden'
    }),
    open() {
      this.openPopup(this.name)
      this.setPageHidden(true)
    },
    close() {
      this.closePopup(this.name)
      this.setPageHidden(false)
    },

    handleClickOutside(e) {
      const datapickerEl = document.querySelector('.mx-datepicker-main')
      const isClickOnDatepicker = datapickerEl && datapickerEl.contains(e.target)
      if(this.isActive && !isClickOnDatepicker) {
        const isClickInside = document.querySelector(`#popup-${this.name} .popup-body`).contains(e.target)
        if (!isClickInside) this.close()
      }
    }
  },

  watch: {
    isActive(isActive) {
      isActive ? this.open() : this.close()
    }
  },

  mounted() {
    if(process.browser) {
      document.addEventListener('mouseup', this.handleClickOutside)
    }
  }
}
</script>

<style lang="scss">

  $transition: .4s cubic-bezier(0.215, 0.61, 0.355, 1);
  .popup {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 60;
    transition: $transition;
    background: rgba(255,255,255,.95);
    &-body {
      display: flex;
      align-items: center;
      position: relative;
      width: 700px;
      max-width: calc(100vw - 40px);
      margin: 0 auto;
      background: white;
      padding: 60px 100px;
      border-radius: 5px;
      box-shadow: var(--shadow-big);
      transition: $transition;
    }
    &-close {
      position: absolute;
      width: 27px;
      height: 27px;
      padding: 0;
      top: 35px;
      right: 35px;
      background-color: transparent;
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: none;
      transition: $transition;
    }
    &-content {
      padding-top: 10px;
      width: 100%;
      transition: $transition;
      border-radius: 5px;
      h1,h2,h3,h4 {
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
    &-server-error {
      color: var(--red);
      font-size: 14px;
      max-width: 250px;
    }
    button[type="submit"] {
      margin-top: 20px;
    }
  }
</style>
