<template>
  <popup-wrap name="product" class="popup-product">
    <template v-if="product">
      <div class="popup-product-image">
        <img :src="product.picture" alt="">
      </div>
      <div class="popup-product-content">
        <div class="top">
          <h2>{{product.name}}</h2>
          <span class="price">{{product.price | price}}</span>
          <b>Description</b>
          <p>{{product.description}}</p>
        </div>
        <div class="bottom">
          <button>Add to cart</button>
        </div>
      </div>
    </template>
  </popup-wrap>
</template>

<script>
import {mapGetters} from 'vuex'

import PopupWrap from '~/components/popup/PopupWrap.vue'

export default {
  components: {
    PopupWrap
  },

  computed: {
    ...mapGetters({
      popupProductId: 'products/popupProductId',
      getProductById: 'products/getProductById'
    }),

    product() {
      return this.getProductById(this.popupProductId)
    }
  }
}
</script>

<style lang="scss">
  .popup-product {
    .popup-body {
      width: 900px;
      padding: 60px;
    }
    .popup-content {
      display: flex;
    }
    &-image {
      position: relative;
      width: 50%;
      img {
        width: 100%;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      padding: 30px;
      .top {
        h2 {
          margin-bottom: 10px;
        }
        .price {
          display: block;
          margin-bottom: 60px;
          font-size: 18px;
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
</style>
