.popup-enter {
  .popup-body {
    transform: scale(0.95);
    .popup-content {
      opacity: 0;
    }
    .popup-close {
      opacity: 0;
    }
  }
  @media screen and (max-width: 600px) {
    .popup-body {
      transform: scale(1);
    }
  }
}
.popup-leave-active {
  .popup-body {
    transform: scale(1.04);
    .popup-content {
      opacity: 0;
    }
    .popup-close {
      opacity: 0;
    }
  }
  @media screen and (max-width: 600px) {
    .popup-body {
      transform: scale(1);
    }
  }
}
.popup-enter, .popup-leave-active {
  opacity: 0;
}
