<template>
  <section class="products-list">
    <template v-for="(product, index) in products">
      <div class="products-list-item" :key="index">
        <img :src="product.picture" alt="">
        <div class="content">
          <h2>{{product.name}}</h2>
          <div class="bottom">
            <span class="price">{{product.price | price}}</span>
            <button @click="openDetails(product.id)">Details</button>
          </div>
        </div>
      </div>
    </template>
  </section>
</template>

<script>
import {mapGetters, mapMutations, mapActions} from 'vuex'



export default {
  components: {

  },

  computed: {
    ...mapGetters({
      products: 'products/items'
    })
  },

  methods: {
    ...mapMutations({
      openPopup: 'popups/openPopup',
      deleteProducts: 'products/deleteProducts',
      setPopupProductId: 'products/setPopupProductId'
    }),
    ...mapActions({
      fetchProducts: 'products/fetch'
    }),

    openDetails(id) {
      this.setPopupProductId(id)
      this.openPopup('product')
    }
  },

  watch: {
    authenticated(val) {
      val ? this.fetchProducts(1) : this.deleteProducts()
    }
  }
}
</script>

<style lang="scss">
  .products-list {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: var(--shadow-small);
      padding: 30px;
      border-radius: 10px;
      img {
        width: 100%;
      }
      h2 {
        font-size: 20px;
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
      }
    }
  }
</style>
