@import "libs/_normalize";

* {
  font-family: var(--font);
  outline: none;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: var(--blue);
  border-radius: 3px;
  color: white;
  font-weight: 600;
  padding: 10px 30px;
  box-shadow: var(--shadow-small);
}

.container {
  position: relative;
  width: 1300px;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

