.icon {
  &-x {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.783' height='13.783' viewBox='0 0 13.783 13.783'%3E%3Cg id='Group_157' data-name='Group 157' transform='translate(0.354 0.354)'%3E%3Cline id='Line_24' data-name='Line 24' x1='13.076' y2='13.076' transform='translate(0 0)' fill='none' stroke='%23707070' stroke-width='1'/%3E%3Cline x2='13.076' y2='13.076' transform='translate(0 0)' fill='none' stroke='%23707070' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  &-v {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.203' height='5.099' viewBox='0 0 7.203 5.099'%3E%3Cg transform='translate(-146.712 -336.726)'%3E%3Cg transform='translate(146.712 338.218)'%3E%3Crect width='0.808' height='4.293' transform='translate(0 0.571) rotate(-45)' fill='%231a1818'/%3E%3C/g%3E%3Cg transform='translate(149.178 336.726)'%3E%3Crect width='6.156' height='0.808' transform='translate(0 4.555) rotate(-47.731)' fill='%231a1818'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
}
