:root {
  --font: 'Open Sans', sans-serif;


  --blue: #0477BF;
  --red: #BF0404;
  --grey: #707070;


  --shadow-small:
    0 4.4px 10.1px rgba(0, 0, 0, 0.035),
    0 35px 81px rgba(0, 0, 0, 0.07)
  ;
  --shadow-big:
    0 1.6px 3.7px rgba(0, 0, 0, 0.02),
    0 4.4px 10.1px rgba(0, 0, 0, 0.03),
    0 10.6px 24.4px rgba(0, 0, 0, 0.04),
    0 35px 81px rgba(0, 0, 0, 0.06)
  ;


  --fast-animation: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
