.input {
  position: relative;
  width: 250px;
  padding-bottom: 20px;
  padding-top: 15px;
  margin-bottom: 10px;
  max-width: 100%;
  label {
    position: absolute;
  }
  input {
    width: 100%;
    border: none;
    padding: 7px 0;
    border-bottom: 1px solid var(--grey);
  }
  &-placeholder {
    left: 0;
    top: 15px;
    transition: var(--fast-animation);
  }
  &-error {
    width: 100%;
    font-size: 13px;
    color: var(--red);
    left: 0;
    top: 55px;
  }
  &.active {
    .input-placeholder {
      top: 0;
      font-size: 13px;
    }
  }
  &.error {
    input {
      border-bottom: 1px solid var(--red);
    }
  }
}
