<template>
  <div>
    <Header />
    <nuxt />
    <PopupLogin />
    <PopupRegister />
    <PopupProduct />
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

import Header from '~/components/header/Header.vue'

import PopupLogin from '~/components/popup/PopupLogin.vue'
import PopupRegister from '~/components/popup/PopupRegister.vue'
import PopupProduct from '~/components/popup/PopupProduct.vue'

export default {
  components: {
    Header,
    PopupLogin,
    PopupRegister,
    PopupProduct
  },

  computed: {
    ...mapGetters({
      isPageHidden: 'dom/isPageHidden'
    })
  },

  watch: {
    isPageHidden(val) {
      if(process.browser) {
        val ? document.body.style.overflow = 'hidden' : document.body.style.overflow = 'auto'
      }
    },
  },
}
</script>

<style lang="scss">
</style>
