<template>
  <main class="main-page">
    <div class="container">
      <transition name="fade">
        <ProductsList v-if="authenticated" />
      </transition>
      <transition name="fade">
        <Loader v-if="isLoading" />
      </transition>
    </div>
  </main>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

import ProductsList from '~/components/products/ProductsList.vue'
import Loader from '~/components/loader/Loader.vue'

export default {
  components: {
    ProductsList,
    Loader
  },

  computed: {
    ...mapGetters({
      authenticated: 'auth/authenticated',
      isLoading: 'products/isLoading'
    })
  }
}
</script>

<style lang="scss">
  .main-page {
    .loader {
      position: relative;
      height: 100px;
      background: transparent;
    }
  }
</style>
